.BoardWrapper {
}

.Board {
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% - (95vh - 100px) * 7 / 12);
    right: calc(50% - (95vh - 100px) * 7 / 12);
}

.Row {
    width: calc((95vh - 100px) * 7 / 6);
    height: calc(100% / 6);
    margin: 0px;
}

.Cell {
    width: calc(100% / 7);
    height: 100%;
    display: inline-block;
}

.Circle {
    position: relative;
    --padding: 1%;
    left: var(--padding);
    right: var(--padding);
    top: var(--padding);
    bottom: var(--padding);
    height: calc(100% - 2 * var(--padding));
    width: calc(100% - 2 * var(--padding));
    border-radius: 50%;
    opacity: 0.5;
    border: 2px solid #222222;
}

.color0 {
    background-color: #ff308d;
    opacity: 0.9;
}

.Playable0 {
    background-color: #f9bdd8;
}

.Playable0:hover, 
.Playable0:focus {
    background-color: #f99dc7;
    opacity: 0.6;
}

.Selected0 {
    background-color: #ff6bad;
    opacity: 0.8;
}

.color1 {
    background-color: #1bfcb5;
    opacity: 0.9;
}

.Playable1 {
    background-color: #b7ffe8;
}

.Playable1:hover, 
.Playable1:focus {
    background-color: #93ffdd;
    opacity: 0.6;
}

.Selected1 {
    background-color: #4fffc7;
    opacity: 0.8;
}

.color-1 {
    background-color: #ffffff;
}

