.BoardWrapper {
    width: 100%;
    padding-bottom: 85.7143%;
    position: relative;
}

.Board {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.Row {
    height: 16.6667%;
    margin: 0px;
}

.Cell {
    width: 14.2857%;
    height: 100%;
    display: inline-block;
    padding: 0.5%;
}

.Circle {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    opacity: 0.5;
    border: 2px solid #222222;
}

.color0 {
    background-color: #ff308d;
    opacity: 0.9;
}

.Playable0 {
    background-color: #f9bdd8;
}

.Playable0:hover, 
.Playable0:focus {
    background-color: #f99dc7;
    opacity: 0.6;
}

.Selected0 {
    background-color: #ff6bad;
    opacity: 0.8;
}

.color1 {
    background-color: #1bfcb5;
    opacity: 0.9;
}

.Playable1 {
    background-color: #b7ffe8;
}

.Playable1:hover, 
.Playable1:focus {
    background-color: #93ffdd;
    opacity: 0.6;
}

.Selected1 {
    background-color: #4fffc7;
    opacity: 0.8;
}

.color-1 {
    background-color: #ffffff;
}


