.Login {
    padding: 60px 0;
}

.Login form {
    margin: 0 auto;
    max-width: 320px;
}

.Login button {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.mainButton {
    color: #258dda;
}

.mainButton:hover,
.mainButton:focus {
    color: #258dda;
}

.altButton {
    color: #b8c3cc;
    background-color: #565454;
    border-color: #da8d25;
}

.altButton:hover,
.altButton:focus {
    color: #565454;
    background-color: #b8c3cc;
    border-color: #da8d25;
}